		<!--Start Footer One-->
		<footer class="footer-one">
			<div class="footer-one__top">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="footer-one__top-wrapper">
								<div class="footer-one__bg"><img src="{{ site_url:url }}assets-new/images/backgrounds/footer-one-bg.png"
										alt="" /></div>
								<div class="row">
									<!--Start Footer Widget Column-->
									<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.1s">
										<div class="footer-widget__column footer-widget__about">
											<div class="footer-widget__about-logo">
												<a  href="/"><img height="100px" src="{{ site_url:url }}img/logo.png"
														alt=""></a>
											</div>
											<p class="footer-widget__about-text">Pengadilan Militer III-16 Makassar .</p>
											<div class="footer-widget__about-contact-box">
												<p class="phone"><a href="tel:123456789"><i
															class="fas fa-phone-square-alt"></i>+62 812 4336 8192</a></p>
												<p><a href="mailto:akassar@dilmil.com"><i
															class="fa fa-envelope"></i>makassar@dilmil.com</a></p>
												<p class="text"><i class="fas fa-map-marker-alt"></i>Jl. Batara Bira KM.16 No.5, Baddoka, Kel Pai, Biringkanaya, Pai, Makassar, Kota Makassar, Sulawesi Selatan 90243</p>
											</div>
										</div>
									</div>
									<!--End Footer Widget Column-->

									<!--Start Footer Widget Column-->
									<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.3s">
										<div class="footer-widget__column footer-widget__news">
											<h2 class="footer-widget__title">Berita</h2>
											<ul class="footer-widget__news-list">
												{{ collection:berita limit="3" }}
												<li class="footer-widget__news-list-item">
													<div class="footer-widget__news-list-item-img">
														<img height="50px" width="50px" class="rounded-circle" src="{{foto}}"
															alt="" />
													</div>
													<div class="footer-widget__news-list-item-title">
														<p>{{date}}</p>
														<h5><a href="{{slug}}">{{title}}</h5>
													</div>
												</li>
												{{ /collection:berita }}

												<li class="footer-widget__news-list-item">
													<div class="footer-widget__news-list-item-img">
														<img height="50px" width="50px" class="rounded-circle"  src="{{ site_url:url }}assets/slide-image-1.png"
															alt="" />
													</div>
													<div class="footer-widget__news-list-item-title">
														<p>20 Jul, 2022</p>
														<h5><a href="#">Bismillah Clear</a></h5>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<!--End Footer Widget Column-->

									<!--Start Footer Widget Column-->
									<div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.5s">
										<div class="footer-widget__column footer-widget__explore">
											<h2 class="footer-widget__title">Tautan Aplikasi</h2>
											<ul class="footer-widget__explore-list">
												{{collection:app redirect="true"}}
												<li class="footer-widget__explore-list-item"><a href="{{ link_website }}">{{title}}</a></li>
												{{/collection:app}}
											</ul>
										</div>
									</div>
									<!--End Footer Widget Column-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!--Start Footer One Bottom-->
			<div class="footer-one__bottom">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="footer-one__bottom-inner">
								<div class="footer-one__bottom-text">
									<p>&copy; Copyright 2022 by <a href="#">Ilfah Sahra</a></p>
								</div>
								<div class="footer-one__bottom-social-links">
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--End Footer One Bottom-->
		</footer>
		<!--End Footer One-->